* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
}

.btn {
  text-align: center;
  margin-top: px;
  display: flex;
  justify-content: space-between;
}
.btn one {
  /* text-align: center; */
  margin-top: px;
  /* display: flex; */
  justify-content: end;
}

.container {
  display: flex;
  background-color: darkslategray;
  border-radius: 19px;
  margin: 13px auto;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
button {
  padding: 12px;
  margin: 5px;
}
